BasedOnStyle: Chromium
Language: Cpp
Standard: Latest
InsertBraces: true
InsertNewlineAtEOF: true
IncludeBlocks: Regroup

PointerAlignment: Left
ReferenceAlignment: Left

IncludeCategories:
  - Regex: '^\"glad/include/glad/glad\.h\"' # glad should be included before GLFW
    Priority: 1
  - Regex: '^<GLFW/glfw3\.h>'
    Priority: 2
  # Other C system headers.
  - Regex: '^<.*\.h>'
    Priority: 3
  # C++ standard library headers.
  - Regex: "^<.*>"
    Priority: 4
  # windows_h_disallowed.h should appear last. Note the low priority number.
  - Regex: '"(.*/)?windows_h_disallowed\.h"'
    Priority: 7
  # Other libraries.
  - Regex: ".*"
    Priority: 5
